:root {
	--chess-colour: white;
	--board-white: transparent;
	--board-black: #cba6f722;
	--board-size: 650px;
}

#chessboard {
	font-size: calc(var(--board-size) / 8);
	line-height: calc(var(--board-size) / 8);
	color: var(--chess-colour);

	td {
		height: calc(var(--board-size) / 8);
		width: calc(var(--board-size) / 8);
		text-align: center;
	}

	tr {
		background-color: var(--board-white);
	}

	tr:nth-child(2n) {
		td:nth-child(2n) {
			background-color: var(--board-black);
		}
	}

	tr:nth-child(2n-1) {
		td:nth-child(2n-1) {
			background-color: var(--board-black);
		}
	}

	.selected {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			left: -1px;
			top: -1px;
			width: 100%;
			height: 100%;
			border: 1px solid var(--chess-colour);
		}
	}

	.ghost {
		opacity: 30%;
	}
}